# Korrelaatiokertoimen laskeminen Pandas dataframesta

## Luetaan kirjastot sisään

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
from helper import parser, min_or_max_of_series
import ipywidgets as widgets
%matplotlib widget

## Luetaan data sisään ja käännetään dataframe ympäri

In [7]:
data = pd.read_csv('../data/osakkeet.csv', index_col='PVM', parse_dates=['PVM'], date_parser=parser)

data = data[::-1]
data.head(5)

,Neste,Kemira,Metsa,Outokumpu,StoraEnso,UPM,Cargotec,Huhtamaki,Kone,Sanoma,Elisa,Nokia
PVM,,,,,,,,,,,,
2011-01-03,4.056,11.879,2.865,32.619,7.972,13.535,39.289,10.363,21.065,16.480,16.498,7.951
2011-01-04,4.094,11.979,2.982,32.590,7.977,13.415,39.159,10.306,21.267,16.477,16.499,8.078
2011-01-05,4.101,11.872,2.953,31.888,7.955,13.293,38.635,10.290,20.963,16.494,16.368,8.145
2011-01-07,4.193,11.909,3.052,32.130,8.194,13.494,38.475,10.428,20.973,16.548,16.256,8.170
2011-01-10,4.249,11.525,3.011,31.581,8.181,13.122,37.603,10.297,20.647,16.292,15.986,8.052

## Lasketaan pearsonin korrelaatiokerroin jokaiselle osakeaikasarjalle dataframe.corr() -funktion avulla

In [26]:
correlations = data.corr()
correlations.head(5)

-0.41262043808051607

## Piirretään kuvaaja Outokummun ja Sanoman osakkeen kehityksestä tutkitulla aikavälillä

### Ajamalla notebookin omalla koneella, voi liukuvalikoista vaihtaa, minkä kahden osakkeen kuvaajat piirretään

In [30]:
def plot_time_series(series1, series2):
    plt.close('all')
    ax = data.plot(y=[series1, series2],
              **{'marker': 'o',
                 'linewidth': 0.5,
                 'markersize': 2,
                 'xlabel': 'Päivämäärä',
                 'ylabel': 'Keskihinta (€)',
                 'figsize': (8, 6),
                 'title': f'{series1} & {series2} korrelaatio: {correlations[series1][series2]:.2f}'
              })
    plt.show()


widgets.interactive(plot_time_series, series1=widgets.Dropdown(options=data.columns, value='Outokumpu'),
                    series2=widgets.Dropdown(options=data.columns, value='Sanoma'))

interactive(children=(Dropdown(description='series1', index=3, options=('Neste', 'Kemira', 'Metsa', 'Outokumpu…